
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 60px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, blue, black);
    color: #fff;
}

.con {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    width: 100%;
    height: 100%;
    background: rgb(235, 0, 255, 0.11);
    backdrop-filter: blur(40px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.con::before {
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(209, 88, 108);
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
    border-radius: 5px;
}

.con::after {
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(123, 211, 233);
    position: absolute;
    right: -30px;
    bottom: -30px;
    border-radius: 50%;
}

/*#hours::after {
    content: 'hours';
}

#minutes::after {
    content: 'minutes';
}

#seconds::after {
    content: 'seconds';
}*/